<div class="body--container container-fluid "></div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                &copy; <span>2016</span> <a href="http://www.apache.org">Apache Software Foundation</a> - <a
                    href="privacy.html">Privacy Policy</a><br/>
                Apache Beam, Beam, Apache, the Apache feather logo, and the Apache Beam project logo are
                trademarks of The Apache Software Foundation.
            </div>
        </div>
    </div>
</footer>
<div id="scrim"></div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.single-item').slick({
            infinite: true,
            arrows:false,
            dots: true,
            autoplay: true,
            autoplaySpeed: 3000,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });

</script>

</body>

</html>