{% include v2head.html %}

    <div class="header--container"></div>
    <div class="container-fluid"></div>
    <div>
        <div class="homepage--body">
            <h1>Apache Beam</h1>
            <section class="billboard--wrapper homepage-billboard">
                <div class="billboard--container">
                    <div class="container-fluid">
                        <div class="homepage-title--container">
                            <h2 class="homepage-title">
                                The unified programming model for Big Data, running on any engine
                            </h2>

                            <div class="homepage-subtitle--container desktop-only">
                                <div class="homepage-subtitle">
                                    Beam provides an advanced unified programming model, allowing you to implement batch and streaming data processing jobs.
                                </div>
                                <div class="homepage-subtitle">
                                    Your code runs on any execution engines.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="key-feature--wrapper">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span4 key-feature--container">
                            <div class="key-feature--icon--container">
                                <div class="key-feature--icon icon">
                                    <img src="images/container.png" width="100px" height="100px"/>
                                </div>
                            </div>
                            <h3 class="key-feature--title">Unified Programming Model</h3>

                            <div class="key-feature--text">
                                The same programming model for batch and streaming.
                            </div>
                        </div>
                        <div class="span4 key-feature--container">
                            <div class="key-feature--icon--container">
                                <div class="key-feature--icon icon">
                                    <img src="images/enterprise.png" width="100px" height="100px"/>
                                </div>
                            </div>
                            <h3 class="key-feature--title">Execution Engine Agnostic</h3>

                            <div class="key-feature--text">
                                The same code runs on any execution engine.
                                Don't rewrite your jobs: they will run on Apache Flink, Apache Spark, ... without any change.
                            </div>
                        </div>
                        <div class="span4 key-feature--container">
                            <div class="key-feature--icon--container">
                                <div class="key-feature--icon icon">
                                    <img src="images/cloud.png" width="100px" height="100px"/>
                                </div>
                            </div>
                            <h3 class="key-feature--title">SDKs and IOs</h3>

                            <div class="key-feature--text">
                                To write your jobs, you have the choice: use the standard Java SDK, use the Python SDK, ...
                                Beam also provides a rich connectivity layer: the IOs to consume or produce data on other systems (Apache Kafka, ...).
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hero--banner">
                <div class="slider single-item">
                    {{ content }}
                </div>
                <div>
                    <center><a href="news.html">All News</a></center>
                </div>
            </section>
            <section class="offset-feature--wrapper">
                <div class="offset-feature--container feature-guides">
                    <div class="container-fluid">
                        <div class="row-fluid feature--content">
                            <div class="span8 mobile-left-pane">
                                <div class="offset-feature--title">Apache & OpenSource</div>
                                <div class="offset-feature--text">
                                    Beam is your project !
                                    Beam is an <a href="http://www.apache.org">Apache Software Foundation</a> project,
                                    available under the Apache v2 license.<br/>
                                    It's a complete open community, always listening proposals and comments.<br/>
                                    <a href="community.html">Sources</a>, <a href="community.html">mailing lists</a>, <a
                                        href="community.html">issue tracker</a>: it's fully open, you can access
                                    directly.<br/>
                                    We also love contributions: don't hesitate to <a
                                        href="community.html">contribute</a>.
                                </div>
                                <a class="offset-feature--link" href="community.html">Be Involved In The Community</a> |
                                <a class="offset-feature--link" href="community.html">How To Contribute</a>
                            </div>
                            <div class="offset8">
                                <img src="images/apache.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-feature--container">
                    <div class="container-fluid">
                        <div class="row-fluid feature--content">
                            <div class="span4">
                                <img src="images/puzzle.png"/>
                            </div>
                            <div class="offset4 mobile-left-pane">
                                <div class="offset-feature--title">Overview</div>
                                <div class="offset-feature--text">
                                    Beam is composed by:<br/><br/>
                                    <ul style="list-style-position: inside">
                                        <li>An unified <a href="programmingmodel.html">programming model</a> providing support of both batch and streaming jobs design.</li>
                                        <li><a href="sdks.html">SDKs and DSLs</a> implementing the model: you have the choice of the language you want to use. Pick your: Java, Python, Scala, ...</li>
                                        <li>Thanks to the <a href="runners.html">runners</a>, your jobs can run everywhere, on any execution engine: Apache Flink, Apache Spark, Google Cloud Dataflow, ...</li>
                                        <li>The <a href="io.html">IOs</a> allows you to get or put data with other data sources: Apache Kafka, JMS, Apache Cassandra, ...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-feature--container">
                    <div class="container-fluid">
                        <div class="row-fluid feature--content">
                            <div class="span8 mobile-left-pane">
                                <div class="offset-feature--title">Documentation</div>
                                <div class="offset-feature--text">
                                    Ready, efficient, and productive with Beam in a minute !<br/>
                                    <br/>
                                    Find all you need to start with Beam ...
                                </div>
                                <a class="offset-feature--link" href="documentation.html">Read Documentation</a>
                            </div>
                            <div class="offset8">
                                <img src="images/book.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% include v2foot.html %}
